:root{
  /* Colors */

  /* Primary */
--Dark-cyan:hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

  /* Neutral */
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

  /* Typography */
  
  /* Body copy */
--Font-size: 59px;

    /* Font */
--Font-family-Montserrat: 'Montserrat', sans-serif;
--Font-family-Fraunces:'Fraunces', serif;

}

body{
  background-color: var(--Cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.container{
  width: 375px;
  height: 600px;
  background-color: var(--White);
  /* border: 3px solid black;  */
  border-radius: 15px;
  padding-bottom: 5px;
}
.destop-image{
  display: none;
 }
img{
max-width: 100%;
border-radius: 10px 10px 0px 0px;
}

.text-section{
  /* border: 2px solid red; */
  padding-left: 40px;
}

.perfume{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: var(--Dark-grayish-blue); 
  font-size: 12px;
  letter-spacing: 6px;
}

h1{
  font-size: 2.1rem;
  margin-top: 14px;
  margin-bottom: 50px;
  line-height: .9;
  font-family: var(--Font-family-Fraunces);
  font-weight: var(--weight);
}
.body-copy{
  font-size: 14px;
  margin-top: -36px;
  color: var(--Dark-grayish-blue); 
  font-family: var(--Font-family-Montserrat);
  word-spacing: -2px;
  /* border: 1px solid red; */
  width: 86%;
  line-height: 1.4;
}
ul{
  list-style: none;
}

.price-section{
  display: flex;
  flex-direction: row;
  justify-content: start; 
  gap: 15px;
  padding: 0;
}

li:first-child{
  font-size: 30px;
  font-family: var(--Font-family-Fraunces);
  font-weight: 900;
  color: var(--Dark-cyan);
  
}
li:last-child{
  color: var(--Dark-grayish-blue); 
  align-self: center;
  text-decoration: line-through;
  font-size: 12px;
  font-family: var(---Font-family-Montserrat);
}

.cart-btn{
  display: flex;
  justify-content: center;
}

button{
  color: var(--White);
  border: none;
  border-radius: 5px;
  background-color: var(--Dark-cyan);
  font-size: 12px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
 }

 .cart-logo{
  /* border: 1px solid black; */
  width: 13px;
 }


 @media(min-width: 800px){
  .container{
    width: 800px;
    /* background-color: black; */
  }

.mobile-image{
 display: none;
}

 .destop-image{
  display: block;
  /* border: 2px solid red; */
  background-color: yellow;
  width: 50%;
  height: 605px;
  object-fit: cover;
  border-radius: 10px 0px 0px 12px;
 }

 p:first-child{
  /* color: pink; */
  /* border: 2px solid red; */
  position: relative;
  bottom: 35px;
 }

 .text-section{
  /* border: 2px solid black; */
  width: 44%;
  position: relative;
  float: right;
  top: -536px;
  letter-spacing: 1px; 
 }
 
 h1{
  font-size: 2.6rem;
  letter-spacing: 3px;
  position: relative;
  bottom: 20px;
 }

 .body-copy{
  font-size: 16px;
  line-height: 26px;
  /* border: 2px solid black; */
  position: relative;
  bottom: -6px;
  line-height: 1.9;
 }

 .price-section{
  margin-top: 50px;
 }

 li:first-child{
  font-size: 40px;  
}

li:last-child{
  font-size: 15px;
}

button{
  position: relative;
  left: 400px;
  top: -115px;
  width: 70%;
  
}
}
/* end of min width 800px */
